# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages that Data Scientists
- List commonly used libraries used by Data Scientists
- List open source tools for data science
- Execute simple arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. ggplot2
4. TensorFlow

| Data Science Tools |
| ------------------ |
| MySQL |
| PostgreSQL |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200 / 60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Andreas Axmann